/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
SELECT *
  FROM [Chest35].[dbo].[tblТипы_условий_взвешивания]
  
select COUNT(*)--distinct t.Условия_взвешивания
from tblБазовыеСписки t
	left join [tblТипы_условий_взвешивания] tt on t.Условия_взвешивания = tt.[Условие взвешивания]
where t.Условия_взвешивания is not null
	and  tt.[Условие взвешивания] is null
	
--alter table [tblТипы_условий_взвешивания] add Condition varchar(127) null;
--alter table tblБазовыеСписки add [Код_условия_взвешивания] int null;
/*
update [tblТипы_условий_взвешивания] set Condition = 'Keep away from moisture' where [Код] = 6
update [tblТипы_условий_взвешивания] set Condition = 'Keep under inert gas' where [Код] = 7
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 8
update [tblТипы_условий_взвешивания] set Condition = 'Freezer' where [Код] = 10
update [tblТипы_условий_взвешивания] set Condition = 'Open under fume hood' where [Код] = 12
update [tblТипы_условий_взвешивания] set Condition = 'Keep in darkness; avoid exposure to light' where [Код] = 13
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 14
update [tblТипы_условий_взвешивания] set Condition = 'Lacrimator' where [Код] = 15
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 16
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 17
update [tblТипы_условий_взвешивания] set Condition = 'Volatile' where [Код] = 18
update [tblТипы_условий_взвешивания] set Condition = 'Hydroscopic' where [Код] = 19
update [tblТипы_условий_взвешивания] set Condition = 'Decomposes on air' where [Код] = 20
update [tblТипы_условий_взвешивания] set Condition = 'Keep in darkness; avoid exposure to light' where [Код] = 21
update [tblТипы_условий_взвешивания] set Condition = 'Avoid mechanical impact' where [Код] = 22
update [tblТипы_условий_взвешивания] set Condition = 'DRY ICE!!!' where [Код] = 23
update [tblТипы_условий_взвешивания] set Condition = 'Open under fume hood' where [Код] = 24
update [tblТипы_условий_взвешивания] set Condition = 'Keep away from moisture' where [Код] = 25
update [tblТипы_условий_взвешивания] set Condition = 'DRY ICE!!!' where [Код] = 26
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 27
update [tblТипы_условий_взвешивания] set Condition = 'Avoid mechanical impact' where [Код] = 28
update [tblТипы_условий_взвешивания] set Condition = 'Avoid mechanical impact' where [Код] = 29
update [tblТипы_условий_взвешивания] set Condition = 'Avoid mechanical impact' where [Код] = 30
...

-- по согласованию с Жанной Павленко 19.12.2018
update [tblТипы_условий_взвешивания] set Condition = 'Stored under inert gas' where [Код] = 20
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 10
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 12

update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 22
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 23
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 24
update [tblТипы_условий_взвешивания] set Condition = '' where [Код] = 26

update [tblТипы_условий_взвешивания] 
set Condition = 'Avoid mechanical impact and/or heat' 
where [Код] in (28,29,30,31);

*/
go
/*
-- массовое прописывание кода без полного совпадения
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Хранить без доступа влаги и воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Избегать мех. воздействий! Пластиковая тара!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Стандартные условия, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Гигроскопичное!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Холодильник!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Взрывоопасно!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Под аргоном! , Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = '!!! НЕ открывать (Аргон) !!!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Холодильник!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Морозилка!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Работать под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Хранить в холодильнике' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Избегать попадания влаги из воздуха!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!, В темноте!' and t.Код_условия_взвешивания is null


update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Гигроскопичное!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'В фольге!В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Бокс!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Гигроскопичное!, Бокс!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Морозилка!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха! В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Избегать попадания влаги из воздуха!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Под вытяжкой!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Под вытяжкой!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! !!! Взв. БЫСТРО !!!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Морозилка!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под аргоном!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!Под аргоном!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под вытяжкой!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник! Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Лакриматор!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Под вытяжкой!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Избегать попадания влаги из воздуха!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Избегать попадания влаги из воздуха!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, В темноте!, Холодильник!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Избегать мех. воздействий! Пластиковая тара!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Избегать мех. воздействий! Пластиковая тара!, Под вытяжкой!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Избегать мех. воздействий!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Гигроскопичное!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Под вытяжкой!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Хранить без доступа влаги и воздуха!, Холодильник!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, В темноте!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, В темноте!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!!!! НЕ открывать (Аргон) !!!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Лакриматор!, Под вытяжкой!, Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Стандартные условия, Бокс!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Стандартные условия, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null





update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник! Летучий!Чувствит кСО2 и влаге!под ине, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Избегать попадания влаги из воздуха!, В темной таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Лакриматор!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник! Под аргоном' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Беречь от влаги!, Окисляется воздухом!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Избегать попадания влаги из воздуха!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!Избегать попадания влаги из воздуха!в боксе!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном!, Холодильник!, Под вытяжкой!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Лакриматор!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Под вытяжкой!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Канцерогенное!, Ядовитое!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под вытяжкой!, Лакриматор!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Лакриматор!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Лакриматор!, В темноте!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Лакриматор!, Под вытяжкой!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!, Под аргоном!, Ядовитое!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'Холодильник!В темноте!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Хранить под азотом' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Ядовитое!, Морозилка!, Под вытяжкой!, Под аргоном!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'Ядовитое!, Под вытяжкой!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Ядовитое!, Под аргоном!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!Под аргоном!Избегать влаги возд.' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'над аргоном' and t.Код_условия_взвешивания is null


update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'под азотом' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под азотом!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Избегать попадания влаги из воздуха!, Летучее!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Избегать попадания влаги из воздуха!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Лакриматор!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под вытяжкой!, Лакриматор!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под аргоном! Над MgO!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под аргоном!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Под аргоном!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Ядовитое!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Летучее!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null


update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Летучее!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Морозилка!, Беречь от влаги!, Отправка - сухой лед!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Холодильник!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Гигроскопичное!, Окисляется воздухом!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Окисляется воздухом!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под вытяжкой!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под вытяжкой!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под вытяжкой!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под вытяжкой!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Под аргоном!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Под вытяжкой! В боксе, без дост.влаги, лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Под вытяжкой!В боксе без доступа влаги!Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! отвешивать в боксе! Открытым не держать!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Отвешивать только в боксе!!!Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Холодильник! Хранить без доступа влаги и воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Холодильник!без доступа влаги,не держать открытым!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Холодильник, под инртн.газом,лакриматор(под тягой)' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Лакриматор!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Летучее!, Ядовитое!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Отправка - сухой лед!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Холодильник!, Под вытяжкой!, Ядовитое!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Без доступа влаги!Повторить ПМР через 6 мес.' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! Гидролизует!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! !!! НЕ в весовой !!!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! !!! НЕ в весовой !!!, Избегать попадания влаги из воздуха!, Холодильник!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! !!! НЕ в весовой !!!, Лакриматор!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! !!! НЕ открывать (Аргон) !!!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под аргоном! , Лакриматор!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!Под аргоном!' and t.Код_условия_взвешивания is null


update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Лакриматор!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Под вытяжкой!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха! Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха! Под тягой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха! Работать под' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха! Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, В темноте!, Летучее!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Летучее!, Холодильник!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Гигроскопичное!, Беречь от влаги!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Морозилка!, Гигроскопичное!, Окисляется воздухом!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Морозилка!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Морозилка!, Под аргоном!, Окисляется воздухом!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Гигроскопичное!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Лакриматор!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Канцерогенное!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'лакрематор' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Избегать попадания влаги из воздуха!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Лакриматор!, Морозилка!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Под аргоном!, Гигроскопичное!, Окисляется воздухом!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Холодильник!, Под аргоном!, Под вытяжкой!, Лакриматор!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!В темной таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!под вытяжкой' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Гигроскопичное!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Холодильник!, В темноте!, Гигроскопичное!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под аргоном!, Ядовитое!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Под вытяжкой!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Под аргоном!, Окисляется воздухом!, В темной таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Холодильник!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!В сухом месте, под вытяжкой!, Избегать попадания влаги из воздуха!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Избегать попадания влаги из воздуха!, Под аргоном!, Под вытяжкой!, Ядовитое!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Избегать попадания влаги из воздуха!, Холодильник!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = '!!! НЕ ПРОДАВАТЬ !!! Лакриматор!, Под аргоном!, Холодильник!, В темной таре!, Окисляется воздухом!, Ядовитое!, Под вытяжкой!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Беречь от влаги!, Избегать попадания влаги из воздуха!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 33 from tblБазовыеСписки t where t.Условия_взвешивания = 'Беречь от влаги!, Ядовитое!, Холодильник!, Летучее!, Лакриматор! Железная банка!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Бокс!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 13 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темной таре!, В темноте!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темной таре!, Под аргоном!, Холодильник!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'В темноте!, Беречь от влаги!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Под вытяжкой!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Под аргоном!, Холодильник!, Избегать попадания влаги из воздуха!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Гигроскопичное!, Избегать попадания влаги из воздуха!, Беречь от влаги!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 32 from tblБазовыеСписки t where t.Условия_взвешивания = 'Гигроскопичное!, Под аргоном!' and t.Код_условия_взвешивания is null

update t set [Код_условия_взвешивания] = 6 from tblБазовыеСписки t where t.Условия_взвешивания = 'Избегать попадания влаги из воздуха!  под вытяжкой' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Под аргоном!, Холодильник!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Под аргоном!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Холодильник!, Под аргоном!, Избегать мех. воздействий! Пластиковая тара!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Холодильник!, Под аргоном!, Хранить в пластмассовой таре!' and t.Код_условия_взвешивания is null
update t set [Код_условия_взвешивания] = 31 from tblБазовыеСписки t where t.Условия_взвешивания = 'Взрывоопасно!, Хранить в пластмассовой таре!, Холодильник!, Под аргоном!' and t.Код_условия_взвешивания is null

*/

SELECT TOP 1000 [Код]
      ,[Условие взвешивания]
      , Condition
  FROM [Chest35].[dbo].[tblТипы_условий_взвешивания]
  where Condition is not null 
  
  
--
select t.ID, t.Условия_взвешивания, t.Код_условия_взвешивания, tt.Код, tt.[Условие взвешивания], tt.Condition
--update t set [Код_условия_взвешивания] = tt.[Код]
from tblБазовыеСписки t
	left join [tblТипы_условий_взвешивания] tt on t.Условия_взвешивания = tt.[Условие взвешивания]
where t.Условия_взвешивания is not null
	and  tt.[Условие взвешивания] is not null 
	and tt.Код <>14 -- стандартные
	--and t.Код_условия_взвешивания is null

-- перекодированные, условия совпадают	
select t.Условия_взвешивания, t.Код_условия_взвешивания, tt.[Условие взвешивания], tt.Condition , COUNT(*) as [Count]
from tblБазовыеСписки t
	inner join [tblТипы_условий_взвешивания] tt on t.Код_условия_взвешивания = tt.Код
where tt.Код <>14 -- стандартные	
	and t.Условия_взвешивания = tt.[Условие взвешивания]
group by t.Условия_взвешивания, t.Код_условия_взвешивания, tt.[Условие взвешивания], tt.Condition	
order by  COUNT(*) desc;

-- перекодировка не совпадает со значением (отстала от жизни), но значение совпадает с одним из списка
select * 
-- update t set Код_условия_взвешивания = tt2.Код
from tblБазовыеСписки t 
	left join   [tblТипы_условий_взвешивания] tt on tt.Код = t.Код_условия_взвешивания 
	left join  [tblТипы_условий_взвешивания]tt2 on ISNULL(t.Условия_взвешивания,'')=ISNULL(tt2.[Условие взвешивания],'')
where t.Условия_взвешивания is not null
	and ISNULL(t.Условия_взвешивания,'')<>ISNULL(tt.[Условие взвешивания],'')
	and tt2.Код is not null
	
	
-- перекодировка не совпадает со значением (вольная трактовка значения)
select t.Код_ID, ID, t.Условия_взвешивания as [Условия_взвешивания_списка], tt.Код as Код_условия, tt.[Условие взвешивания], tt.Condition  
from tblБазовыеСписки t 
	inner join   [tblТипы_условий_взвешивания] tt on tt.Код = t.Код_условия_взвешивания 
where t.Условия_взвешивания is not null
	and ISNULL(t.Условия_взвешивания,'')<>ISNULL(tt.[Условие взвешивания],'');
	 
-- некодифицированные условия взвешивания
select t.ID, t.Условия_взвешивания
from tblБазовыеСписки t
where t.Условия_взвешивания is not null
	and  t.Код_условия_взвешивания is null  
	--and t.ID = 'F8889-3128'
	
select t.Условия_взвешивания, COUNT(*) as Cnt
from tblБазовыеСписки t
where t.Условия_взвешивания is not null
	and  t.Код_условия_взвешивания is null  
group by t.Условия_взвешивания		
order by COUNT(*) desc


	
--update tblБазовыеСписки set Код_условия_взвешивания = 6 where Код_ID = 5560975
--update tblБазовыеСписки set Код_условия_взвешивания = 13 where Код_ID = 2867763
--update tblБазовыеСписки set Код_условия_взвешивания = 6 where Код_ID = 2281948

--sp_who
--kill 61
go

/*
Zhanna Pavlenko <Zhanna.Pavlenko@lifechemicals.com>
ср 26.12.18 11:40

Добрый день!
По просьбе ВН в условиях хранения надо вместо фразы:
Под инертным газом!
Сделать:
Под аргоном!
Это надо сделать:
1)	В выборке условий хранения
2)	В сертификатах на нашу продукцию
3)	В Честе везде найти и заменить.
Спасибо.

*/

begin tran
/*
	select [Условия_взвешивания] , COUNT(*) 
	from tblБазовыеСписки t 
	where t.Условия_взвешивания like '%аргоном%'
	group by [Условия_взвешивания] 
	order by 	 COUNT(*) desc;
*/
	select replace([Условия_взвешивания],'инертным газом','аргоном') as New, *  --6344
	--update t set [Условия_взвешивания] = replace([Условия_взвешивания],'инертным газом','аргоном')
	from tblБазовыеСписки t 
	where t.Условия_взвешивания like '%инертным газом%';

	select replace([Условие взвешивания],'инертным газом','аргоном'),* 
	--update t set [Условие взвешивания] = replace([Условие взвешивания],'инертным газом','аргоном')
	from [tblТипы_условий_взвешивания] t 
	where t.[Условие взвешивания] like '%инертным%'

commit 

	select replace(Condition,'inert gas','argon'),* 
	--update t set Condition = replace(Condition,'inert gas','argon')
	from [tblТипы_условий_взвешивания] t 
	where t.Condition like '%inert%'
go

/********** через таблицу связей многие-ко-многим ***********/
use Chest35 ;
go

create table tblBaseListCondition(
				BaseListID int not null foreign key references tblБазовыеСписки(Код_ID)
				, ConditionID int not null foreign key references tblТипы_условий_взвешивания(Код)
				primary key (BaseListID,ConditionID));
go

	
use [Chest35]
GO
GRANT INSERT
	, SELECT
	, ALTER
	, UPDATE
	, VIEW DEFINITION
	, VIEW CHANGE TRACKING 
	, REFERENCES
	, DELETE
	, CONTROL
		ON [dbo].tblBaseListCondition TO [Chest_Admins]
GO

GRANT SELECT
	, REFERENCES 
		ON [dbo].tblBaseListCondition TO [Chest_public]
GO

GRANT SELECT
	, REFERENCES 
		ON [dbo].tblBaseListCondition TO [Chest_Wes_Chief]
GO

GRANT SELECT
	, REFERENCES 
		ON [dbo].tblBaseListCondition TO [Chest_Wesovschiki]
GO

use [Chest35]
GO
GRANT SELECT , REFERENCES ON [dbo].[tblBaseListCondition] TO [Chest_Postavki_really]
GO
use [Chest35]
GO
GRANT SELECT , REFERENCES ON [dbo].[tblBaseListCondition] TO [Chest_Rukovodstvo]
GO
use [Chest35]
GO
GRANT SELECT , REFERENCES ON [dbo].[tblBaseListCondition] TO [Chest_Zakazi]
GO
use [Chest35]
GO
GRANT SELECT , REFERENCES ON [dbo].[tblBaseListCondition] TO [Chest_Postavki]
GO
use [Chest35]
GO
GRANT SELECT , REFERENCES ON [dbo].[tblBaseListCondition] TO [Chest_Otpravki]
GO
				
				
select  bl.Условия_взвешивания, cnd.[Условие взвешивания], cnd.Condition , COUNT(*) as Cnt
from tblБазовыеСписки	 bl
	inner join tblТипы_условий_взвешивания cnd on bl.Условия_взвешивания like '%'+ cnd.[Условие взвешивания] + '%'	and cnd.Код not in (31,32,33)			
where bl.[Условия_взвешивания] is not null
	--and bl.Условия_взвешивания != cnd.[Условие взвешивания] 
group by bl.Условия_взвешивания, cnd.[Условие взвешивания], cnd.Condition;
select * from  tblБазовыеСписки where Условия_взвешивания = 'В темноте!В сухом месте, под вытяжкой!, Избегать попадания влаги из воздуха!'
--insert into tblBaseListCondition(BaseListID, ConditionID)
select  bl.Код_ID , cnd.Код 
from tblБазовыеСписки	 bl
	inner join tblТипы_условий_взвешивания cnd on bl.Условия_взвешивания like '%'+ cnd.[Условие взвешивания] + '%'	
												  and cnd.Код not in (31,32,33)			
where bl.[Условия_взвешивания] is not null;
go
	
	
select bl.*, c.* 
from 	tblБазовыеСписки bl
	inner join tblBaseListCondition lc on lc.BaseListID = bl.Код_ID 
	inner join tblТипы_условий_взвешивания c on c.Код = lc.ConditionID 
where bl.ID = 'F9995-1777';
go

-- функция, возвращающая условие на английском по коду базового списка 
alter function	dbo.fn_GetConditionStringByBaseList (@bl_id as int)
returns varchar(255)
as
begin
	declare @result as varchar(255), @condition as varchar(255)
	
	if not exists(select * from tblBaseListCondition where BaseListID = @bl_id) return null;
	
	select @result = '';
	
	DECLARE cond cursor forward_only
		for 
		select distinct c.Condition  
		from  tblBaseListCondition lc 
			inner join tblТипы_условий_взвешивания c on c.Код = lc.ConditionID 
		where lc.BaseListID = @bl_id;
	
	OPEN cond;

	FETCH NEXT FROM cond INTO @condition;
	WHILE @@FETCH_STATUS = 0
		BEGIN
		
		if ISNULL(@condition,'')!= '' select @result = left(@result + @condition + '! ',255);
		
		FETCH NEXT FROM cond INTO @condition;
		END
	CLOSE cond;
	DEALLOCATE cond;
	
	select @result = rtrim(@result);
			
 return @result;
end;
go  

select dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition,  bl.ID, bl.Условия_взвешивания 
from 	tblБазовыеСписки bl
where bl.ID = 'F9995-1845';-- 'F9995-1777';

select dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition, bl.Условия_взвешивания , COUNT(*) as Cnt
from 	tblБазовыеСписки bl
where bl.[Условия_взвешивания] is not null
group by dbo.fn_GetConditionStringByBaseList (bl.Код_ID),   bl.Условия_взвешивания
order by COUNT(*) desc;
go

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition   
from 	tblБазовыеСписки bl
where bl.[Условия_взвешивания] is not null 
	and bl.[Условия_взвешивания] != 'Стандартные условия' ;

select * from tblBaseListCondition where BaseListID = 5774063
go

/*
Ж.Павленко
Изменить в Честе условия хранения (в приложенном файле)
*/

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном!'
from 	tblБазовыеСписки bl
where ID in ('F8887-6569','F2196-0113');

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Под аргоном!, Избегать попадания влаги из воздуха!'; --25 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Холодильник! Под аргоном!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Холодильник!, Под аргоном!, Избегать попадания влаги из воздуха!'; --9 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном! Холодильник!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Под аргоном!, Холодильник!, Избегать попадания влаги из воздуха!'; --8 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном! Холодильник!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Холодильник!, Избегать попадания влаги из воздуха!, Под аргоном!'; --8 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Под аргоном! , Избегать попадания влаги из воздуха!'; --6 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Избегать попадания влаги из воздуха!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Избегать попадания влаги из воздуха!, Гигроскопичное!'; --6 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Под аргоном!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = '!!! НЕ открывать (Аргон) !!!'; --5 rows

select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = 'Избегать попадания влаги из воздуха!'
from 	tblБазовыеСписки bl
where Условия_взвешивания = 'Гигроскопичное!, Избегать попадания влаги из воздуха!'; --4 rows


/*
select bl.ID, bl.Условия_взвешивания, dbo.fn_GetConditionStringByBaseList (bl.Код_ID) as Condition  
-- update bl set  Условия_взвешивания = ''
from 	tblБазовыеСписки bl
where Условия_взвешивания = ''; -- rows
*/
